.Rate-parent-container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    height: 100%;
    width: 100%;
}

.Rate-left-container {
    display: flex;
    flex-direction: column
}

.Rate-right-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.Rate-edit-pane {
    display: flex;
    flex-direction: column;
    width: 100%
}

.Rate-select-panel {
    width: 25%;
    height: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.select-panel-card {
    flex-grow: 1;
    height: 100%
}
