.prompt-oval {
  width: 400px;
  border: 1px solid;
  border-radius: 15px;
  padding: 15px 15px 5px;
  margin: 5px;
}

.prompt-element {
  display: inline;
  margin: 0px;
}

.prompt-element__hint {
  color: grey;
  font-size: 10px;
}
